.main-wrap{
    position:absolute;
	top:50px;
	xleft:230px;
    margin:10px 15px 0 15px;
    
}
.main-wrap, .box {
    width:1190px; /* MAIN WIDTH */
    min-height:50px;
    margin-left:120px;
    z-index:5;
    
}
.box{
    width:80%;
}
h2{
    font-weight: 300;
    color:#555;
    border-bottom:1px solid #444;
}

.back{
    text-decoration: none;
}
.back:visited{
    text-decoration: none;
    color:#555;
}


.form{
    border-radius: 15px;
    z-index:10;
    margin-top:20px;
    width:700px;
    background:white;
    height:450px;
    box-shadow: 3px 8px 16px 5px #D5D5D5;
    margin-bottom:90px;
 
   
}
input{
    padding:8px;
    border-radius:5px;
    border:1px solid #A9A9A9;
    width:90%;
    margin-left:24px;
  
}
input[type=submit]{
    margin-top:30px;
    width:15%;
    background: #3f73b8;
    color:white;
    font-size: 12pt;
    padding:9px;
    opacity:0.9;
    float:right;
    margin-right:25px;
}
input[type=submit]:hover{
    opacity:1;
    cursor: pointer;
   
}
select{
    padding:8px;
    border-radius:5px;
    border:1px solid #A9A9A9;
    width:90%;
    margin-left:24px;
    font-size:12pt;
}
.cancel{
    border:1px solid #A9A9A9;
    border-radius:5px;
    margin-top:30px;
    width:15%;
    background: #E9E9E9;
    color:#444;
    font-size: 12pt;
    padding:9px;
    opacity:0.9;
    float:right;
    margin-right:2px; 
    opacity:0.9;
}
.cancel:hover{
    opacity:1;
    cursor: pointer;
}
label{
    color:#444;
    margin-left:24px;

}
.form-header{
    text-align:center;
    background:#3f73b8;
    color:white;
    padding:10px;
    width:97.2%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom:15px;
    
}
.form-header h2{
    color:white;
    border:none;
}
.add h4{
    font-weight: 300;
    color:#3f73b8;
    cursor: pointer;
    width:120px;
}
.add h4:hover{
    text-decoration: underline;
}
.candidate img{
    width:150px;
    height:auto;
    margin-top:10px;
    border:2px solid silver;
    margin-left:25px;
    border-radius:5px;
}
label{
    cursor:pointer;
}
input[type=file]{
    cursor:pointer;
}